<div class="account-select-container">
  <h2>Choose an account to start shopping on Littlehorse!</h2>
  @if (loading) {
  <div>Loading accounts...</div>
  } @else {
  @for (account of accounts; track account.id) {
  <mat-card class="card" (click)="selectAccount(account)">
    <mat-card-content class="container">
      <img class="profile-img" src="/assets/images/profiles/{{ account.id }}.jpeg" />
      <div class="account-info">
        <div class="account-name">{{ account.name }}</div>
        <div class="account-email">{{ account.email }}</div>
      </div>
    </mat-card-content>
  </mat-card>
  }
  }
</div>