### Node.js / JavaScript / TypeScript ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.yarn/install-state.gz
.next/
/out/
/build/
*.tsbuildinfo
next-env.d.ts

### VS Code ###
.vscode/ 