/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: light dark;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));
}
/* Dark mode specific overrides */
.mat-mdc-raised-button.mat-primary {
  background-color: var(--mat-sys-primary);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

// Snackbar styles
.success-snackbar {
  --mdc-snackbar-container-color: #4caf50;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
}

.info-snackbar {
  --mdc-snackbar-container-color: #2196f3;
}

.warning-snackbar {
  --mdc-snackbar-container-color: #ff9800;
  --mat-sys-inverse-primary: white;
  --mat-sys-inverse-surface: #f5f5f5;
}